:root {
  --bg-main: #264653;
  --bg-secondary: #e76f51;
  --bg-card: #f4a261;
  --text-primary: #ffffff;
  --text-muted: #868b93;
  --accent: #e9c46a;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d122e3;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #9926f0;
  --bs-secondary: #d122e3;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --heading-h1-weight: var(--font-weight-extrabold);
  --heading-h2-weight: var(--font-weight-bold);
  --heading-h3-weight: var(--font-weight-semibold);
  --heading-h4-weight: var(--font-weight-medium);
  --heading-h5-weight: var(--font-weight-medium);
  --heading-h6-weight: var(--font-weight-medium);
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
